.position{
    font-size: 70px;
    text-align: center;
    height: 100px;
    margin-bottom: 0px;
}

#restart{
    border: none;
    padding: 10px;
}

#restart:hover{
    background-color: gold;
    font-weight: bold;
}

#container{
    display:grid;
    grid-template-columns: repeat(3,100px);
    margin-left: 42%;
    margin-top:0%;

}

#position0{
    border-bottom: 5px solid black;
    border-right: 5px solid black;

}

#position1{
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
}

#position2{
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

#position3{
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

#position4{
    border: 5px solid black;
}


#position5{
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

#position6{
    border-top: 5px solid black;
    border-right: 5px solid black;
}

#position7{
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
}
#position8{
    border-top: 5px solid black;
    border-left: 5px solid black;
}

.position:hover{
    background-color: gold;
}

#buttons{
    display: flex;
    font-size: 50px;
    align-items: center;
    width: 100%;
}

.name{
    margin:auto;
    padding: 10px;
    border: none;
}

.name:hover{
    background-color: gold;
    font-weight: bold;
}

#names{
    display: flex;
    font-size: 60px;
    align-items: center;
    margin-top: 0%;
}

#nameOne{
    margin: auto;
    text-shadow: 2px 2px white;
}

#nameTwo{
    margin:auto;
    text-shadow: 2px 2px white;
}



#messageContainer{
    display: flex;
    font-size: 75px;
}

.winningMessage{
    margin: auto;
    text-shadow: 2px 2px red;
}

.drawMessage{
    margin: auto;
    text-shadow: 2px 2px white;
}

header{
    width:100%;
    text-align: center;
    vertical-align: top;
    font-size: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif
    
}

h1{
        
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: 2px 2px white;
}
body{
    background-color: rgb(30, 121, 30);
    
}

#nameAndButtons{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#vs{
    position: absolute;
    left:48%;
}